Source: grml-scripts
Section: oldlibs
Priority: optional
Maintainer: Michael Prokop <mika@grml.org>
Build-Depends:
 debhelper-compat (= 12),
Standards-Version: 4.7.0
Homepage: https://github.com/grml/grml-scripts
Vcs-Git: https://github.com/grml/grml-scripts
Vcs-Browser: https://github.com/grml/grml-scripts
Origin: Grml
Bugs: mailto:bugs@grml.org
Rules-Requires-Root: no

Package: grml-scripts
Architecture: all
Depends:
 ${misc:Depends},
Description: transitional package
 This is a transitional package. It can safely be removed.
 All scripts have been moved to grml-etc-core and grml-live.
