Source: grml-scripts
Section: utils
Priority: optional
Maintainer: Michael Prokop <mika@grml.org>
Build-Depends: debhelper (>= 8), dietlibc-dev, xsltproc, docbook-xsl, asciidoc
Standards-Version: 3.9.4
Homepage: http://git.grml.org/?p=grml-scripts.git
Vcs-git: git://git.grml.org/grml-scripts.git
Vcs-Browser: http://git.grml.org/?p=grml-scripts.git
Origin: Grml
Bugs: mailto:bugs@grml.org

Package: grml-scripts
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, dialog, perl, zsh, dash, links | w3m | links2, screen, grml-etc-core
Suggests: python, grml-rebuildfstab, grml-network, grml-files, dirvish, sudo, idesk, python-dbus, notification-daemon, grml-quickconfig, lzop, alsa-utils
Description: Collection of little tools
 This package contains a lot of scripts and is only really suited
 for full Grml systems. It provides, amongst others: iimage,
 make_chroot_jail, qma and myip.
 .
 Notice: not all the packages which are required for all the
 scripts are in the "Depends:" line. If you want to get a full
 featured grml-scripts package install the packages from the
 "Suggests:" line too or just use the full Grml system.
 .
 For more details take a look at the grml-scripts manpage.
