Source: grml-scripts
Section: utils
Priority: optional
Maintainer: Michael Prokop <mika@grml.org>
Build-Depends:
 asciidoc,
 debhelper-compat (= 12),
 docbook-xsl,
 xsltproc,
Standards-Version: 4.3.0
Homepage: https://github.com/grml/grml-scripts
Vcs-Git: https://github.com/grml/grml-scripts
Vcs-Browser: https://github.com/grml/grml-scripts
Origin: Grml
Bugs: mailto:bugs@grml.org
Rules-Requires-Root: no

Package: grml-scripts
Architecture: all
Depends:
 dash,
 dialog,
 grml-etc-core,
 links | w3m | links2,
 perl,
 screen,
 zsh,
 ${misc:Depends},
 ${shlibs:Depends},
Recommends:
 physlock,
Suggests:
 alsa-utils,
 dirvish,
 grml-files,
 grml-network,
 grml-quickconfig,
 grml-rebuildfstab,
 idesk,
 lzop,
 notification-daemon,
 python3,
 python3-dbus,
 sudo,
Description: Collection of little tools
 This package contains a lot of scripts and is only really suited
 for full Grml systems. It provides, amongst others: iimage,
 make_chroot_jail, qma and myip.
 .
 Notice: not all the packages which are required for all the
 scripts are in the "Depends:" line. If you want to get a full
 featured grml-scripts package install the packages from the
 "Suggests:" line too or just use the full Grml system.
 .
 For more details take a look at the grml-scripts manpage.
